[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
flask = "*"
flask-security = "*"
flask-sqlalchemy = "*"
python-slugify = "*"
mixer = "*"
psycopg2-binary = "*"
bcrypt = "*"
factory-boy = "*"
mistune = "*"
readtime = "*"
gunicorn = {version = "*", sys_platform= "== 'linux'"}
[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
