{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="col-lg-8">

			{% for article in articles %}

			<div class="card border-0 mb-2 box-shadow">
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<h2 class="h4 font-weight-bold">
					<a class="text-dark" href="{{ article.absolute_url() }}">{{ article.title }}</a>
					</h2>
					<span class="card-text">
						{{ article.intro|safe }}
					</span>
					<div>
                        <small class="text-muted">
							<a class="text-muted" href="{{ article.user.absolute_url() }}">
								{{ article.user.display_name }}
							</a>
							&mdash;
							{{ article.created.strftime('%A, %d %B %Y') }}
							&middot;
							<a href="#" data-toggle="tooltip" data-placement="right" title="{{ article.reading_time }} read">
								<i class="fal fa-stopwatch"></i>
							</a>
						</small>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>



		<div class="col-lg-4">
			<div class="card border-0 mb-4 box-shadow h-xl-100">
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <h2 class="h6 font-weight-bold">
					Who dis?
					</h2>
					<p class="card-text small">
						Hey, I'm Anthony Plunkett.
                        I've been messing around on the Internet since '95. Deeply involved in tech, love Python and messing around with random tech projects.
                        I hope you find something useful, if you do&mdash; <a href="">let me know!</a>
					</p>

					<h2 class="h6 font-weight-bold">
					Snippets
					</h2>
					{% for snippet in quick_links %}
					<span class="card-text small mb-2">
						{{ snippet|safe }}
					</span>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock content %}