{% extends 'base.html' %}

{% block head %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Your Creations</h2>

    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Created</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
    {% for article in current_user.articles %}
    <tr>
      <td>{{ article.title }}</td>
      <td>{{ article.created.strftime('%A, %d %B %Y') }}</td>
      <td>
          <input
                  id="toggle-event" {% if article.published %}checked{% endif %}
                  type="checkbox" data-ref="{{ article.id }}"
                  data-toggle="toggle"
                  data-on="Published"
                  data-off="Hidden"
                  data-onstyle="success" data-offstyle="danger"
                  data-size="mini"
          >
      <a href="{{ url_for('admin.article_edit', ref=article.id) }}" class="btn btn-xs btn-info">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<input id="csrf" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


{% endblock %}

{% block scripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $(function () {
            let csrf = $('#csrf').val();

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf);
                    }
                }
            });

            $('input[data-toggle="toggle"]').change(function () {
                let ref = $(this).data('ref');
                let status = $(this).prop('checked');
                let payload = {
                    'ref': ref,
                    'status': status,
                    'csrf_token': csrf
                };
                console.log(payload);
                $.ajax('{{ url_for('admin.article_set') }}', {
                    data: JSON.stringify(payload),
                    contentType: 'application/json',
                    method: 'POST',
                    dataType: "json"
                });
            });
        });
    </script>
{% endblock %}