{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tags.css') }}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css" integrity="sha256-CU0/rbxVB3Eixd3bbIuJxHJLDnXriJS9cwp/BfcgpLw=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 border-1 entry">
            <form method="post" action="{{ url_for('admin.navigation_create') }}">
                <input id="csrf" type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="title" placeholder="Title">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Navigation Title</span>
                  </div>
                </div>

                <input name="tags" type="text" id="tags" data-role="tagsinput" class="token" placeholder="add,tags,here"/>

                <div class="text-right mt-3">
                    <button type="submit" data-submit="go" class="btn-block btn-info btn btn-large">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}


{% block scripts %}

    <script src="{{ url_for('static', filename='js/tags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typeahead.bundle.min.js') }}"></script>
    <script>
        let tags = new Bloodhound({
            ttl: 0,
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {
                url: '{{ url_for('admin.tags_json') }}',
                filter: function(dict) {
                return $.map(dict.tags, function(tag) {
                    return { name: tag }; });
                }
            }
        });
        tags.initialize();

        $('#tags').tagsinput({
          typeaheadjs: {
            name: 'tags',
            displayKey: 'name',
            valueKey: 'name',
            source: tags.ttAdapter()
          },
            freeInput: true
        });
    </script>

{#    <script>#}
{#        $('button[data-submit="go"]').on("click", function () {#}
{#            let title = $('#title').val();#}
{#            let tags = $('#tags').val();#}
{#            let csrf = $('#csrf').val();#}
{##}
{#            var action = $.post(#}
{#                '{{ url_for('admin.navigation_create') }}',#}
{#                {#}
{#                    title: title,#}
{#                    tags: tags,#}
{#                    csrf_token: csrf#}
{#                }#}
{#            );#}
{##}
{#            action.done(function (data) {#}
{#                $(".entry").load("{{ url_for('admin.article_created') }}")#}
{#            });#}
{#            console.log($(this).text());#}
{#        });#}
{#    </script>#}
{% endblock %}

